
/*----------RESET--------------*/
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    background-color: rgba(199, 235, 246, 0.068);  
}

/*----------HEADER--------------*/

.logoTitulo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logoTitulo img{
    width: 100px;
    height: 100px;
}

.container-fluid div h1{
    font-family: 'Lilita One', sans-serif;
}

.navbar{
    background-color:rgba(122, 112, 175, 0.484);
}

.nav-item a{
    background-color: rgba(108, 49, 49, 0.132);
    color: black;
    border: 2px black solid;
    padding: 10px; 
    font-family: 'Noto Serif Hebrew', sans-serif;
    border: 2px rgb(18, 69, 116) double;
    border-radius: 25px;
    box-shadow: 0px 3px 3px 2px;
    margin: 0px 15px 0px 15px;
}

.dropdown-menu li a{
    margin: 0px;
    padding: 0px;
    border: none;
    border-radius: none;
    box-shadow: none;
}

.d-flex button{
    background-color: rgba(108, 49, 49, 0.132);
    color: black;
    border: 2px black solid;
    padding: 10px; 
    font-family: 'Noto Serif Hebrew', sans-serif;
    border: 2px rgb(18, 69, 116) double;
    border-radius: 25px;
    box-shadow: 0px 3px 3px 2px;
    margin: 0px 15px 0px 15px;
}

.d-flex button:hover{
    color: white;
    background-color: rgb(55, 162, 176);
    border: 2px black solid;
    box-shadow: 0 3px 3px 3px black;
}


/*----------MAIN--------------*/

/*----------INICIO--------------*/


#urgencias{
    background-image: url(../img/fondoinicio.jpg);
    width: 100%;
    height: 450px;
    background-size: cover;
    background-repeat: no-repeat;
}
#urgencias{
    display: flex;
    align-items: center;
}

.urgencia div{
    background-color: rgba(255, 255, 255, 0.425);
    padding: 30px 20px;
    margin-left: 650px;
    width: 15%;
    border: 3px rgb(66, 56, 56) solid dotted;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 70px;
}

.urgencia div a{
    padding: 5px;
    margin: 10px;
    color: rgb(244, 237, 237);
    background-color: rgb(22, 22, 22);
    border-radius: 30px;
}
.urgencia div a:hover{
    background-color: rgb(241, 242, 243);
    color: black;
    border-radius: 20px;
    padding: 20px;
    font-family: 'Lilita One', sans-serif;
}

section h3{
    background-color: rgb(55, 162, 176);
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    font-size: 25px;
    font-family: 'Lilita One', sans-serif; 
    border-radius: 50px;
}

.informacion{
    display: flex;
    justify-content: space-between;
    font-family: 'Noto Serif Hebrew', sans-serif;
    color: rgb(22, 22, 22);
}

.tarjetas{
    padding: 20px 15px;
    margin: 40px 25px 50px 25px;
    background-color: rgba(6, 6, 6, 0.523);
    border: 3px rgb(241, 237, 237) solid;
    display: flex;
    flex-direction: column;
    text-align: center;   
}

.tarjetas img{
    border-style: groove;
    border-radius: 20px;
}

.tarjetas a{
    color: rgb(9, 210, 236);
    font-size: 20px;
}

#nuestrosClientes h3{
    background-color: rgb(55, 162, 176);
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    font-size: 25px;
    font-family: 'Lilita One', sans-serif;
}

#clientesFelices{
    margin: 40px 0px 50px 0px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-family: 'Noto Serif Hebrew', sans-serif;  
}

.clientes{
    border: 2px rgb(114, 225, 250) dotted;
    border-radius: 15px;
}

.clientes img{
    border-radius: 35px;
}

#experienciasClientes{
    text-align: center;
    margin-top: 20px;
    font-size: 25px;
    font-family: 'Lilita One', sans-serif;
    background-image: url(../img/fondoinicio3.jpg);
}

.comentarios{
    background-color: black solid;
    margin: 40px 0px 10px 0px;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    font-family: 'Noto Serif Hebrew', sans-serif;
}

.experiencia{
    margin: 20px;
    border-style: inset;
    justify-content: space-between;
    background-color: rgba(183, 221, 145, 0.874);
}

.experiencia img{
    border-radius: 50px;
}

.comentarios h5{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(17, 81, 81);
    font-size: 15px;
    margin: 10px;
}

.comentarios p{
    font-family: 'Times New Roman', Times, serif;
    color: black;
    font-size: 20px;
}

#experienciasClientes h4{
    padding: 10px;
    color: rgb(12, 12, 12);
    text-align: center;  
}

#experienciasClientes .formulario{
    text-align: center;
    margin: 0px 50px 30px 0px;
}

.formulario a{
    color: rgb(27, 100, 153);
    font-size: 20px;
}

/*----------PRODUCTO--------------*/
.fondoproducto{
    background-image: url(../img/fondoproducto.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    
}
.variedadAlimento div{
    width: 400px;
    height: 400px;
    text-align: center;
}
.variedadAlimento div img{
    align-items: center;
    width: 300px;
    height: 300px;
    
}
.variedadAlimento{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    margin-left: 30px;
    gap: 15px;
    width: 100%;
}
.petshop h4{
    text-align: center;
    font-size: 25px;
    background-color: rgb(16, 16, 16);
    color: aliceblue;
}
.accesorios div img{
    align-items: center;
    width: 70%;
    height: 70%;  
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.accesorios{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: auto;
   gap: 10px;
}

.accesorios div{
    text-align: center;
}

/*----------SERVICIOS--------------*/
.fondoservicio{
    background-image: url(../img/fondoservicios.jpg);
    background-position: center;
    background-size: contain;
    background-attachment: fixed;
}

.serviciosdisponibles{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 35px 0px 35px 0px;
}

.serviciosdisponibles h4{
    background-color: rgb(55, 162, 176);
    width: 100%;
}

.serviciosdisponibles img{
    width: 50%;
    height: 50%;

}

/*----------SOBRENOSOTROS--------------*/

section h3{
    text-align: center;
}
.historianosotros img{
    width: 400px;
    height: 400px;
    position: relative;
}
.historianosotros{
    display: flex;
    width: 100%;
    justify-content: space-between;
    text-align: center;
    font-size:large;
    background-color: rgb(245, 236, 236);
    color: rgb(31, 67, 98);
}
.historianosotros .comienzo{
    padding: 120px;
}
.historianosotros .frente{
    margin: 20px;
}
.historianosotros .interior{
    margin: 20px;
}
.undiaconnos{
    text-align: center;
    padding: 30px;
}
.undiaconnos h2{
    color: rgb(7, 71, 136);
    padding: 10px;
    font-size: 30px;
}

.nombre h2{
    text-align: center;
    font-size: 25px;
    color: rgb(11, 11, 11);
    background-color: rgba(186, 118, 180, 0.796);
    border-radius: 20px;
    margin: 20px 80px;
}

.nosotros{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    gap: 20px;
    position: relative;
}

.profesionales img{
    width: 400px;
    height: 400px;
    position: relative;
}

.profesionales{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 20px;
    position: relative;
    margin-left: 75px;
    padding: 0px 0px 30px 0px ;
}

.profesionales .medicos{
    position: relative;
}
/*----------CONTACTO--------------*/
.ubicacion{
    background-color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 40px;
    color: rgb(9, 9, 9);
}

.ubicacion iframe{
    height: 460px;
    width: 460px;
}

#formularioRegistro{
    background-image: url(../img/fondocontacto.jpg);
    height: 600px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.formularioContenedor h3{
    background-color: rgba(206, 103, 103, 0.596);
    margin: 10px;
    border-radius: 5px;
    font-family: 'Cormorant Garamond';
}

.formularioContenedor{
    background-color:rgb(233, 174, 174);
    border-style: double;
    margin-top: 5px;
}

.formularioContenedor div h5{
    background-color: rgb(197, 197, 167);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 5px;
}





/*----------FOOTER--------------*/
footer{
    display: flex;
    background-color:rgba(122, 112, 175, 0.484);
    padding: 25px;
    justify-content: space-between;
    align-items: center;
}

footer div{
    margin: 20px;
    padding-top: 20px;
}

.volverarriba a{
    background-color: rgba(108, 49, 49, 0.132);
    color: black;
    border: 2px black solid;
    padding: 10px; 
    font-family: 'Noto Serif Hebrew', sans-serif;
    border: 2px rgb(18, 69, 116) double;
    border-radius: 25px;
    box-shadow: 0px 3px 3px 2px;
}

/*--------MEDIA QUERYS------------*/

/*--------PRODUCTO------------*/

@media screen and (max-width:1200px) {
    .variedadAlimento{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        margin-left: 30px;
        gap: 15px;
        width: 100%;    
    }

    .accesorios{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        gap: 10px;
     }
}

@media screen and (max-width:882px) {
    .variedadAlimento{
        display:grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
        gap: 15px;    
    }

    .accesorios{
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
        gap: 10px;
     }
}

/*--------SOBRE NOSOTROS-----------*/

@media screen and (max-width:1200px) {
    .profesionales{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        gap: 20px;
        position: relative;
        margin-left: 75px;
        padding: 0px 0px 30px 0px ;    
        }
    }

    @media screen and (max-width:1250px) {

    .historianosotros img{
        width: 400px;
        height: 400px;
        }

    .historianosotros{
        display: flex;
        width: 100%;
        flex-direction: column;
        text-align: center;
        font-size:large;
        background-color: rgb(245, 236, 236);
        color: rgb(31, 67, 98);
    }
    }

    @media screen and (max-width:882px) {
        .profesionales{
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: auto;
            gap: 20px;
            position: relative;
            margin-left: 75px;
            padding: 0px 0px 30px 0px ;
            }
            .medicos{
                text-align: center;
            }
    }

    @media screen and (max-width:882px) {
        .undiaconnos div iframe{
            width: 400px;
            height: 200px;
        }
    }