header{
    nav{
        background-color:rgba(122, 112, 175, 0.484);
        div{
            .logoTitulo{
                display: flex;
                flex-direction: column;
                align-items: center;
                a{
                    img{
                        width: 100px;
                        height: 100px;
                    }
                }
                h1{
                    font-family: 'Lilita One', sans-serif;
                    margin: 0%;
                }
                h2{
                    font-size: 25px;
                    margin: 0px;
                    color:  rgb(55, 162, 176);
                }
            }
            button{
                span{

                }
            }
            div{
                ul{
                    li{
                        a{
                            background-color: rgba(108, 49, 49, 0.132);
                            color: black;
                            border: 2px black solid;
                            padding: 10px; 
                            font-family: 'Noto Serif Hebrew', sans-serif;
                            border: 2px rgb(18, 69, 116) double;
                            border-radius: 25px;
                            box-shadow: 0px 3px 3px 2px;
                            margin: 0px 15px 0px 15px;
                            &:hover{
                                transform: scale(1.2,1.2);
                                transition: all 0.5s ease-out;
                            }
                        }
                    }
                    li{
                        a{

                        }
                        .dropdown-menu{
                            li{
                                a{
                                    margin: 0px;
                                    padding: 0px;
                                    border: none;
                                    border-radius: none;
                                    box-shadow: none;
                                }
                            }
                        }
                    }
                }
                .d-flex{
                    input{

                    }
                    button{
                        background-color: rgba(108, 49, 49, 0.132);
                        color: black;
                        border: 2px black solid;
                        padding: 10px; 
                        font-family: 'Noto Serif Hebrew', sans-serif;
                        border: 2px rgb(18, 69, 116) double;
                        border-radius: 25px;
                        box-shadow: 0px 3px 3px 2px;
                        margin: 0px 15px 0px 15px;
                        &:hover{
                            color: white;
                            background-color: rgb(55, 162, 176);
                            border: 2px black solid;
                            box-shadow: 0 3px 3px 3px black;
                        }
                    }
                }
            }
        }
    }
}