
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    background-color: rgba(199, 235, 246, 0.068);  
}
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Lilita+One&family=Noto+Serif+Hebrew:wght@800&display=swap")
