  /*----------extends--------------*/
  @mixin flex($flex,$direction,$align,){
    display: $flex;
    flex-direction: $direction;
    align-items: $align;
  }
  $color-primario:rgb(55, 162, 176);
  $color-secundario:lightcoral;